*{
    padding: 0;
    margin: 0;


} 
 html, body {
    background: url(maxresdefault.jpg) no-repeat center center fixed; 
   -webkit-background-size: auto;
   -moz-background-size: auto;
   -o-background-size: auto;
   background-size: 100% 100%;
   font-family: Arciform, sans-serif, Arial, Helvetica, sans-serif;
   height: 100%;
}

.card {

    box-shadow: 1px 1px 5p rgb(182,27,31);
    background-color: rgb(181,159,162);
    padding: 40px;
    border-radius: 5px;
}

.form1 {
    
    width: 500px;
    margin: auto;
    padding-top: 10px;
    height: 100%;
    
    
}

.cardTopo {
    text-align: center;
}
.cardRot > button {
    background-image: linear-gradient(to left, red, black);
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    color: white;
    border: 0px;
    outline: 0px;
}

button:hover {

    background-image: linear-gradient(to left, black, red);
    
}
.imgLogin {
    border-radius: 30px;
    width: 100px;
    box-shadow: 1px 1px 5px rgb(105, 7, 0);
    text-align: center;
}

.title1 {
    color: black;
}

.title2 {
    color: black;
    font-size: 30px;
}
.cardRot {
    margin-bottom: 15px;
}
.cardRot > label {
    font-size: 20px;
    width: 100%;
    color: black;
    display: block;
    outline: 0px;
}

.cardRot > input {
    

    border-radius: 15px;
    outline: 0;
    width: 100%;
    height: 15px;
    padding: 8px;
    color: black;

}
h1, h2, h3 {
    font-size: 100%;
}

